<body>
    
<h1>Client Edit Page</h1>

<form method="GET" id="edit_form"></form>

<div id="client-edit">
    <table>
        <tbody>
            <tr>
                <td class="id">ID:</td>
                <td><input type="text" value="{{client.id}}" id="add-id" form="edit_form" readonly></input></td>
            </tr>
            <tr>
                <td class="firstName">First Name:</td>
                <td><input type="text" value="{{client.firstName}}" id="add-first-name" form="edit_form"></input></td>
            </tr>
            <tr>
                <td class="lastName">Last Name:</td>
                <td><input type="text" value="{{client.lastName}}" id="add-last-name" form="edit_form"></input></td>
            </tr>
            <tr>
                <td class="postalCode">Postal Code:</td>
                <td><input type="text" value="{{client.postalCode}}" id="add-postal-code" form="edit_form"></input></td>
            </tr>
            <tr>
                <td class="email">Email Address:</td>
                <td><input type="text" value="{{client.email}}" id="add-email" form="add_form"></input></td>
            </tr>
            <tr>
                <td class="phone">Phone Number:</td>
                <td><input type="text" value="{{client.phone}}" id="add-phone" form="add_form"></input></td>
            </tr>
        </tbody>
    </table>
 </div>

 <div class="btns">
    <button onclick="saveButtonClicked()" class="saveBtn">Save</button>
    <button onclick="cancelButtonClicked()" class="cancelBtn">Cancel</button>
</div>

<script>window.expressUrl='{{expressUrl}}'</script>
 <script src="client-edit.js"></script>

 </body>