<script src="client-list.js"></script>
<link rel='stylesheet' href='.\public\client-list.css'>
<h1>Client List Page</h1>

<div id="client-list">
    <button class='addBTN' onclick="addButtonClicked({{@index}})">Add Client</button>
    <table class='clientsTable'>
        <thead>
            <tr>
                <th class='info'>First Name</th>
                <th class='info'>Last Name</th>
                <th class='info'>Postal Code</th>
                <th class='info'>E-Mail</th>
                <th class='info'>Phone Number</th>
                <th class='info'>Actions</th>
                <th class='info'></th>
            </tr>
        </thead>
        <tbody  >
            {{#each clients as | client |}}
                <tr class ='clientData'>
                    <td class='clientFirst'>{{client.firstName}}</td>
                    <td class='clientLast'>{{client.lastName}}</td>
                    <td class='clientPostal'>{{client.postalCode}}</td>
                    <td class='clientEmail'>{{client.email}}</td>
                    <td class='clientPhone'>{{client.phone}}</td>
                    <td class='editCell'><button class='editBTN' onclick="editButtonClicked({{@index}})">Edit</button></td>
                    <td class='deleteCell'><button class='deleteBTN' onclick="editButtonClicked({{@index}})">Delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
</div>